@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #8f0101;
    --secondary-color: #b81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
}

h1 {
    font-weight: var(--title-weight);
    color: var(--primary-color);
}
